{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
        <meta name="description" content="">

        <title>Storytime</title>

        <!-- Bootstrap core, style CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap core JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

	<title>Storytime</title>

	<body>
		<div class="container" align="center">
		    <h2>Something went wrong.</h2>
		    <p class="lead">Return <a href="/makestory">home</a> and try again. Otherwise, contact us.</p>
    	</div> <!-- /container -->
	</body>
</html>