{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
        <meta name="description" content="">

        <title>StoryTime</title>

        <!-- Bootstrap core, style CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap core JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

	<title>Storytime</title>

	<body>
		<div class="container" align="center">
		    <h1>Welcome to Storytime</h1>
		    <p class="lead">ADD CONTENT HERE</p>
		    
		    <p>Insert an image URL below:</p>
		    
		    <form action="process/" method="POST">
		        <input type="text" name="inputURL">
		    </form>
		    
    	</div> <!-- /container -->
	</body>
</html>