{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
        <meta name="description" content="">

        <title>StoryTime</title>

        <!-- Bootstrap core, style CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap core JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

	<title>Storytime</title>

	<body>
		<div class="container" align="center">
		    <h1>Here's a story.</h1>
            <p class="lead">
		        <img src="{{ imageURL_output }}" />
		        
		        <br />
		        {{ text_output }} 
		        
            </p>
            <p>{{ caption_output }}</p>
            <p>{{ story_output }} </p>
    	</div> <!-- /container -->
	</body>
</html>