{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
        <meta name="description" content="">

        <title>StoryTime</title>

        <!-- Bootstrap core, style CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap core JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

	<title>Storytime</title>

	<body>
		<div class="container" align="left">
		    <h1>Here's a story.</h1>
		    
		    <p>Image:</p>
		    <img src="{{ imageURL_output }}" />
		    
		    <p>Nouns:</p>
		    <ul>
		        {% for noun in nouns_output %}
		        <li>{{ noun }}</li>
		        {% endfor %}
		    </ul>
		    
		    <p>Verbs:</p>
		    <ul>
		        {% for verb in verbs_output %}
		        <li>{{ verb }}</li>
		        {% endfor %}
		    </ul>
		    
		    <p>Adjectives:</p>
		    <ul>
		        {% for adj in adjectives_output %}
		        <li>{{ adj }}</li>
		        {% endfor %}
		    </ul>
		    
		    <p>Other:</p>
		    <ul>
		        {% for other in otherPos_output %}
		        <li>{{ other }}</li>
		        {% endfor %}
		    </ul>
		    
		    <p>Caption:</p>
		    <p>{{ caption_output }}</p>
		    
		    <p>Story:</p>
		    <p>{{ story_output }}</p>
		    
    	</div> <!-- /container -->
	</body>
</html>